{% extends 'layout.html.twig' %}

{% block content %}
    <header class="masthead" style="background-image: url('/src/assets/Public/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                            <h1>{{ article.title }}</h1>
                            <span class="meta">
                                Posté par {{ article.pseudo }} le {{ article.createdAt }}
                                <br>édité le {{ article.updatedAt }}
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>{{ article.content }}</p>
                </div>
                {% if session.user.pseudo == article.pseudo or session.user.isAdmin == 1 %}
                    <a href="/?action=showEditArticlePage&id={{ article.id }}" class="btn">
                        <i class="fa-solid fa-pen-to-square" style="color: #0000ff;"></i>Modifier l'article</a>
                {% endif %}
                {% if session.user.isAdmin == 1 %}
                    <a href="/?action=deleteArticle&id={{ article.id }}"
                       onclick="return confirm('Voulez-vous supprimer définitivement cet article ?')"
                       class="btn"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a>
                {% endif %}
            </div>
        </div>
    </article>
    {% if waitingValidationComment %}
        <div class="text-center">
            <p class="text-success">{{ waitingValidationComment }}</p>
            <a href="/index.php" class="btn btn-outline py-4">Retour à l'accueil</a>
        </div>
    {% endif %}
    {% if notWaitingValidationComment %}
        <div class="text-center">
            <p class="text-danger">{{ notWaitingValidationComment }}</p>
            <a href="/?action=articles" class="btn btn-outline py-4">Retour à la liste des articles</a>
        </div>
    {% endif %}
    <hr class="my-4">
    <div class="container">
        <div class="row gy-4 py-4 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                <h2>Commentaires</h2>
                {% for comment in comments %}
                    <p>{{ comment.content }}</p>
                    <p class="text-muted fst-italic">Par {{ comment.pseudo }} le {{ comment.createdAt }}</p>
                    {% if session.user.isAdmin == 1 %}
                        <a href="/?action=deleteComment&id={{ comment.id }}"
                           onclick="return confirm('Voulez-vous supprimer définitivement ce commentaire ?')"
                           class="btn"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a>
                    {% endif %}
                    <hr class="my-4">
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2 class="text-center">Poster un commentaire</h2>
                {% if session.user.pseudo and session.user.isAdmin != 3 %}
                    <form method="post" action="/?action=addComment&id={{ article.id }}">
                        <div class="form-group">
                            <label for="commentary" class="form-label">Message :</label>
                            <textarea
                                    class="form-control"
                                    id="commentary"
                                    name="commentary"
                                    rows="3"
                                    placeholder="Votre commentaire ici" required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-dark">Envoyer</button>
                        </div>
                    </form>
                {% endif %}
                {% if not session.user.pseudo %}
                    <div class="text-center">
                        <a href="?action=showLogin"
                           class="btn btn-outline py-4">Veuillez vous connecter pour poster un commentaire.</a>
                        <br>
                        <a href="?action=showSignUp"
                           class="btn btn-outline py-4">Inscrivez-vous si vous n'avez pas encore de compte.</a>
                    </div>
                {% endif %}
        </div>
    </div>
{% endblock %}