{% extends 'layout.html.twig' %}

{% block content %}

        <header class="masthead" style="background-image: url('/src/assets/Public/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ article.title }}</h1>
                            <span class="meta">
                                    Posté par
                                    {{ article.pseudo }}
                                    le {{ article.creationDate }}
                                    <br>édité le {{ article.updatedAt }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{ article.content }}</p>
                    </div>
                </div>
            </div>
        </article>
        <hr class="my-4">
        <div class="container">
            <div class="row gy-4 py-4 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7 text-center">
                    <h2>Commentaires</h2>
                    {% for comment in comments %}
                        <p>{{ comment.content }}</p>
                        <p>Par {{ comment.pseudo }} le {{ comment.dateComment }}</p>
                        <hr class="my-4">
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}