{% extends 'adminLayout.html.twig' %}

{% block content %}
    <header class="masthead" style="background-image: url('/src/assets/Public/img/about-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Validation ou suppression des commentaires</h1>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row align-items-start justify-content-center gy-4 py-4">
            {% if publishedComment %}
                <p class="text-center text-success">{{ publishedComment }}</p>
            {% endif %}
            {% if deletedComment %}
                <p class="text-center text-success">{{ deletedComment }}</p>
            {% endif %}
            {% if errorDeleteComment %}
                <p class="text-center text-danger">{{ errorDeleteComment }}</p>
                <a class="btn btn-outline py-4" href="/?action=showWaitingCommentsList">Voir les commentaires en attente de validation</a>
            {% endif %}
            {% if errorPublishComment %}
                <p class="text-center text-danger">{{ errorPublishComment }}</p>
                <a class="btn btn-outline py-4" href="/?action=showWaitingCommentsList">Voir les commentaires en attente de validation</a>
            {% endif %}
            {% if notPublishedComments is empty %}
                    <p class="text-center text-bg-info">Aucun commentaire en attente !</p>
            {% endif %}
            {% for notPublishedComment in notPublishedComments %}
                <div class="col-md text-center">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ notPublishedComment.pseudo }}</h5>
                            <p class="card-text">{{ notPublishedComment.content }}</p>
                            <a href="/?action=publishComment&id={{ notPublishedComment.id }}"
                               class="btn"><i class="fa-solid fa-check" style="color: #00ff40;"></i></a>
                            <a href="/?action=deleteComment&id={{ notPublishedComment.id }}"
                               onclick="return confirm('Voulez-vous supprimer définitivement ce commentaire ?')"
                               class="btn"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="text-center">
                <a class="btn btn-outline py-4" href="/index.php">Revenir à l'accueil</a>
            </div>
            <div class="text-center">
                <a class="btn btn-outline py-4" href="/?action=showAdminPanel">Revenir au panneau d'administration</a>
            </div>
        </div>
    </div>
{% endblock %}